<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/lead.css">
    <title>Document</title>
</head>
<body>
    <!-- Copiare solo il contenuto del body -->
    <div style="display: flex;">
        <div class="header">
            <span class="title">Iride - Scheda Cliente</span>
        </div>

        <span class="print-date">Data di Stampa: INSERISCI</span>
    </div>
    

    <div class="lead-body"> 
        <div class="row">
            <div class="field"> data ins </div> 
            <div class="value"> INSERISCI </div>

            <div class="field"> qualifica </div> 
            <div class="value"> INSERISCI </div>
        </div>

        <div class="row">
            <div class="field"> cliente </div> 
            <div style="font-weight: bold;" class="value"> INSERISCI </div>
        </div>

        <div class="row">
            <div class="field"> indirizzo </div> 
            <div class="value"> INSERISCI </div>
        </div>

        
        <div class="row">
            <div class="field"> cap </div> 
            <div class="value"> INSERISCI </div>

            <div class="field"> località </div> 
            <div class="value"> INSERISCI </div>

            <div class="field-sm" style="margin-left: auto;"> prov </div> 
            <div class="value"> INSERISCI </div>

            <div class="field-sm"> naz </div> 
            <div class="value"> INSERISCI </div>
        </div>

            

        <div class="row" style="margin-top: 30px;">
            <div class="field"> sesso </div> 
            <div class="value"> INSERISCI </div>

            <div class="field"> data nasc </div> 
            <div class="value"> INSERISCI </div>

            <div class="field-sm"> età </div> 
            <div class="value"> INSERISCI </div>

            <div class="field-sm"> nato a </div> 
            <div class="value"> INSERISCI </div>
        </div>

        <div class="row">
            <div class="field"> codice fiscale </div> 
            <div class="value">  </div>

            <div class="field"> partita iva </div> 
            <div class="value"> INSERISCI </div>
        </div>

        <div class="cols" style="margin-top: 10px;">
            <div class="col-3">

                <div>
                    <div class="field"> telefono </div> 
                    <div class="value">  </div>
                </div>

                <div class="row">
                    <div class="field"> cellulare </div> 
                    <div class="value"> asda </div>
                </div>


                <div class="row">
                    <div class="field"> hobbies </div> 
                    <div class="value">  </div>
                </div>


                <div class="row">
                    <div class="field"> email </div> 
                    <div class="value">  </div>
                </div>


                <div class="row">
                    <div class="field"> note </div> 
                    <div class="value">  </div>
                </div>

            </div>
            <div class="col-3">

                <div>
                    <div class="field"> telefono lavoro </div> 
                    <div class="value">  </div>
                </div>

                <div class="row">
                    <div class="field"> fax </div> 
                    <div class="value">  </div>
                </div>


                <div class="row">
                    <div class="field"> professione </div> 
                    <div class="value">  </div>
                </div>


                <div class="row">
                    <div class="field"> web </div> 
                    <div class="value">  </div>
                </div>

            </div>
            <div class="col-3">
                <div class="row" style="margin-top: 0px;">
                    <input type="checkbox"> <label for="horns">autorizzazione privacy</label>
                </div>
                
                <div class="row" style="margin-top: 10px;">
                    <input type="checkbox"> <label for="horns">autorizzazione mailing</label>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <input type="checkbox"> <label for="horns">autorizzazione SMS</label>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <input type="checkbox"> <label for="horns">contattare telefonicamente</label>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <input type="checkbox"> <label for="horns">tessera</label>
                </div>

            </div>

        </div>
        

        <div class="title-leadbody" style="margin-top: 30px;"> RIPIELOGHI DATE </div>
        <div class="cols" style="margin-top: 10px;">
            <div class="col-2">
                <div class="title-leadbody"> LENTI A CONTATTO </div>
                
                <div class="row">
                    <div class="field-lg"> scadenza assicurazione </div> 
                    <div class="direction" style="margin-left: 20px;"> DX </div>
                    <span> test </span>
                    <div class="direction"> SX </div>
                </div>

                <div class="row">
                    <div class="field-lg"> sostituzioni </div> 
                    <div class="direction" style="margin-left: 20px;"> DX </div>
                    <span> test</span>
                    <div class="direction"> SX </div>
                </div>

                <div class="row">
                    <div class="field-lg"> prossimo controllo </div> 
                    <div class="direction" style="margin-left: 20px;"> DX </div>
                    <span> test</span>
                    <div class="direction"> SX </div>
                </div>

                <div class="row">
                    <div class="field-lg"> ultima lac </div> 
                    <div class="direction" style="margin-left: 20px;"> DX </div>
                    <span> test</span>
                    <div class="direction"> SX </div>
                </div>

            </div>
            <div class="col-2">
                <div class="title-leadbody"> OCCHIALI </div>

                <div class="row">
                    <div class="field-lg"> prossimo controllo </div> 
                    <div class="value"> INSERISCI </div>
                </div>

                <div class="row">
                    <div class="field-lg"> ultimo occhiale </div> 
                    <div class="value"> INSERISCI </div>
                </div>
            </div>
        </div>

        <div class="lead-footer"></div>
    </div>

</body>
</html>